<app-navbar></app-navbar>
<section id="about" class="mt-5 py-5">
    <div class="container my-3">
        <h2 class="text-center mb-5 SS TITL">Preparación del Pan</h2>
        <div class="row mb-5">
            <div class="col-lg-6 NH">
                <h3>Nuestra Historia</h3>
                <p class="justif">La Panadería La Delicia comenzó como un pequeño negocio familiar en el corazón del pueblo. Con el
                    tiempo, hemos crecido gracias a la lealtad y el apoyo de nuestros clientes, pero siempre hemos
                    mantenido nuestro compromiso con la calidad y el sabor casero.</p>
            </div>
            <div class="col-lg-6">
                <img src="" height="80%" width="90%" class="img-fluid IMNH ms-5"
                    alt="Nuestra Historia">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-6">
                <img src="" height="80%" width="90%" class="img-fluid" alt="Nuestra Misión">
            </div>
            <div class="col-lg-6 NM">
                <h3>Nuestra Misión</h3>
                <p class="justif">Nuestra misión es ofrecer productos de la más alta calidad, elaborados con ingredientes frescos y
                    naturales. Queremos que cada bocado sea una experiencia deliciosa y memorable para nuestros
                    clientes.</p>
            </div>
        </div>

        <div class="row NV">
            <div class="col-lg-6 NH">
                <h3>Nuestros Valores</h3>
                <ul>
                    <li class="justif">Calidad: Solo utilizamos ingredientes de la más alta calidad en todos nuestros productos.
                    </li>
                    <li class="justif">Tradición: Respetamos y mantenemos las recetas tradicionales que nos han sido transmitidas
                        por generaciones.</li>
                    <li class="justif">Innovación: Constantemente buscamos innovar y mejorar para ofrecer lo mejor a nuestros
                        clientes.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="" height="80%" width="90%" class="img-fluid ms-5"
                    alt="Nuestros Valores">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>