<app-panel-navbar></app-panel-navbar>

<div class="container">
  <div class="row mt-5">
    <!-- Columna izquierda: Formulario -->
    <div class="col-sm-4 mt-5">
      <h2>Formulario de clientes</h2>
      <form id="infoForm" class="mt-4">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre...">
        </div>
        <div class="mb-3">
          <label for="primerApellido" class="form-label">Primer Apellido</label>
          <input type="text" class="form-control" id="primerApellido" placeholder="Ingresa el apellido...">
        </div>
        <div class="mb-3">
          <label for="segundoApellido" class="form-label">Primer Apellido</label>
          <input type="text" class="form-control" id="segundoApellido" placeholder="Ingresa el apellido...">
        </div>
        <div class="mb-3">
          <label for="calle" class="form-label">Calle</label>
          <input type="text" class="form-control" id="calle" placeholder="Ingresa la calle...">
        </div>
        <div class="mb-3">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="ciudad" placeholder="Ingresa tu ciudad">
        </div>
        <div class="mb-3">
          <label for="codigo-postal" class="form-label">Código postal</label>
          <input type="text" class="form-control" id="codigo-postal" placeholder="Ingresa el código postal...">
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Número de Teléfono</label>
          <input type="text" class="form-control" id="telefono" placeholder="Ingresa tu número de teléfono">
        </div>
        <div class="mb-3">
          <label for="salario" class="form-label">Salario</label>
          <input type="text" class="form-control" id="salario" placeholder="Ingresa el salario..." maxlength="6" required pattern="\d+" title="El salario solo puede contener números.">
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-success">Guardar</button>
          <button class="btn btn-secondary">Limpiar</button>
        </div>
      </form>
    </div>

    <!-- Columna derecha: Tabla de empleados -->
    <div class="col-md-4 col-md-10 mt-5">
      <app-client-table [clients]="clients"></app-client-table>
    </div>
  </div>

  <!-- Sección donde se incluye el componente de menú (fuera del formulario) -->
  <div class="mt-2">
    <app-menu></app-menu>
  </div>
</div>

<app-footer></app-footer>
