<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top mb-5">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="../../../../assets/panaderia_removebg_preview.png" alt="Logo" width="90" height="90" class="d-inline-block align-top">
        <h2 class="ms-3 TITL Tiiit">La Delicia</h2>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li
            *ngFor="let item of navItems"
            class="nav-item">
            <a
              class="nav-link"
              [class.active]="item.active"
              [href]="item.link">
              {{ item.label }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>