<app-navbar></app-navbar>

<div class="container mt-4">
  <h2 class="text-center mb-4">Preparación de Pan</h2>

  <div class="interface">
    <!-- Teclado Numérico -->
    <div class="teclado">
      <div class="numeric-keypad">
        <button *ngFor="let num of [1,2,3,4,5,6,7,8,9,'0']" 
        class="keypad-button" (click)="enterDigit(num)">
  {{ num }}
</button>

        <button class="keypad-button special-button">
            <span role="img" aria-label="eye">-</span>
        </button>
        <button class="keypad-button delete-button" (click)="deleteLastDigit()">⌫</button>
      </div>
    </div>

    

    <div class="table">

        <div class="table2">
            <app-oven-table
            [products]="products"
            (cookProduct)="onCookProduct($event)"
            >
            
            </app-oven-table>
        </div>
       
    </div>

    <!-- Indicador de Temperatura
    <div class="temperature-display">
      <div class="temperature-circle">
        <span class="temperature-value">58</span>
        <span role="img" aria-label="flame">🔥</span>
      </div>
    </div> -->


    <!-- Panel de Control -->
    <div class="control-panel">
      <div class="back"></div>
      <button [ngClass]="getRedButtonClass()"></button>
      <div class="back2"></div>
      <button [ngClass]="getGreenButtonRgbClass()"></button>  
      <button [ngClass]="getFinishedButtonClass()"></button>  

      <div class="timer-circle">
        <div class="timer-display">{{ getFormattedTime() }}</div>
      </div>

    </div>
    
       <!-- Botones del temporizador con eventos -->

       <!-- <button class="yellow-reset"  (click)="resetTimer()"><i class="bi bi-arrow-clockwise text-white fs-2"></i>
       </button> -->
        <button class="start" (click)="startBaking()">Empezar Horneado</button>

        <!-- Boton para pausar el tiempo 
       <button class="stop" (click)="stopTimer()">Pausar</button> -->

  </div>

  <!-- Modal para eliminación de producto -->
<!-- <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Eliminar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Estás seguro de que deseas eliminar este producto? Esta acción no se puede deshacer.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteProduct()">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div> -->
  
</div>

<app-footer></app-footer>
