<app-navbar></app-navbar>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="card shadow-lg p-4 border-0" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4 text-warning">Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Campo de Correo Electrónico -->
            <div class="mb-3">
                <label for="identifier" class="form-label fw-bold">Correo Electrónico o Nombre de Usuario</label>
                <input type="text" class="form-control form-control-md" formControlName="identifier"
                    placeholder="Ingresa tu correo electrónico"/>
            </div>
            <div *ngIf="loginForm.get('identifier')?.hasError('required') && loginForm.get('identifier')?.touched">
                Este campo es obligatorio.
              </div>
              <div *ngIf="loginForm.get('identifier')?.hasError('minLength') && loginForm.get('identifier')?.touched">
                El campo debe tener al menos 5 caracteres.
              </div>

            <!-- Campo de Contraseña -->
            <div class="mb-3">
                <label for="password" class="form-label fw-bold">Contraseña</label>
                <input type="password" class="form-control form-control-md" formControlName="password"
                    placeholder="Ingresa tu contraseña"/>
            </div>
            <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                Este campo es obligatorio.
              </div>
              <div *ngIf="loginForm.get('password')?.hasError('minLength') && loginForm.get('password')?.touched">
                La contraseña debe tener al menos 8 caracteres.
              </div>

            <!-- Checkbox de Recuérdame -->
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" />
                <label class="form-check-label fw-semibold" for="rememberMe">Recuérdame</label>
            </div>

            <!-- Botón de Inicio de Sesión -->
            <div class="d-grid">
                <button type="submit" class="btn btn-warning btn-md">
                    Iniciar sesión
                </button>
            </div>
            <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
        </form>
        <!-- Enlace de Recuperar Contraseña -->
        <div class="text-center mt-3">
            <a routerLink="/forgot-password" class="text-decoration-none text-muted">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
</div>
<app-footer></app-footer>