<div class="container">
  <div class="mas-formularios">
    <!-- Botón para abrir la ventana modal -->
    <button class="btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#otrosRegistrosModal">
      Otros registros
    </button>

    <!-- Ventana Modal -->
    <div class="modal fade" id="otrosRegistrosModal" tabindex="-1" aria-labelledby="otrosRegistrosLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="otrosRegistrosLabel">Más formularios...</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="user">
              <img src="" alt="imagen usuario">
            </div>
            <div class="d-grid gap-2 my-3">
              <a class="btn btn-dark my-2 active" (click)="redirectTo('/control-panel/employees')" data-bs-dismiss="modal"><i class="me-2 fas fa-users"></i>Empleados</a>
              <a class="btn btn-dark my-2" (click)="redirectTo('/control-panel/users')" data-bs-dismiss="modal"><i class="me-2 fas fa-user" ></i>Usuarios</a>
              <a class="btn btn-dark my-2" (click)="redirectTo('/control-panel/product-panel')" data-bs-dismiss="modal"><i class="me-2 fas fa-box"></i>Productos</a>
              <a class="btn btn-dark my-2" (click)="redirectTo('/control-panel/clients')" data-bs-dismiss="modal"><i class="me-2 fas fa-address-book"></i>Clientes</a>
              <a class="btn btn-dark my-2" (click)="logout()"><i class="me-2 fas fa-sign-out-alt"></i>Cerrar sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
