<div class="container p-4 my-3">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2 class="text-center">Listado de Usuarios</h2>
      <table class="table table-light table-striped">
        <thead>
        <tr>
          <th class="centrado">Nombre de usuario</th>
          <th class="centrado">Correo electrónico</th>
          <th class="centrado">Rol</th>
          <th class="centrado">Funciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td class="centrado">{{ user.usuario }}</td>
          <td class="centrado">{{ user.correo }}</td>
          <td class="centrado">{{ user.rol }}</td>
          <td class="centrado align-content-center">
            <button class="btn btn-warning">
              <i class="bi bi-pencil-fill"></i> Editar
            </button>
            <button class="btn btn-danger ms-2">
              <i class="bi bi-trash-fill"></i> Eliminar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
