<app-panel-navbar></app-panel-navbar>
<br> <br>
<div class="container mt-5 mb-5 p-4 my-3">
  <div class="row g-3">
    <!-- Columna izquierda: Formulario -->
    <div class="col-lg-4 col-md-12">
      <h2>Formulario de productos</h2>
      <form id="productForm">
        <div class="mb-3 my-4">
          <label for="nombre-producto" class="form-label">Nombre del producto</label>
          <input type="text" class="form-control" id="nombre-producto" placeholder="Ingresa el nombre del producto..." required autofocus pattern="[A-Za-zÀ-ÿ\s]+" title="El nombre solo puede contener letras y espacios." maxlength="15">
          <div class="invalid-feedback">
            Por favor, ingresa un nombre de producto válido (máximo 15 caracteres).
          </div>
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio del producto</label>
          <input type="number" class="form-control" id="precio" placeholder="Ingresa el precio..." required min="0" step="0.01">
          <div class="invalid-feedback">
            Por favor, ingresa un precio válido. Debe ser un número positivo.
          </div>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success">Guardar</button>
          <button type="reset" class="btn btn-secondary">Limpiar</button>
        </div>
      </form>
    </div>

    <!-- Columna derecha: Tabla de productos -->
    <div class="col-lg-8 col-md-12">
      <h2 class="text-center">Listado de productos</h2>
      <app-product-table [products]="product"></app-product-table>
    </div>
  </div>

  <!-- Sección donde se incluye el componente de menú (fuera del formulario) -->
  <div class="mt-3">
    <app-menu></app-menu>
  </div>
</div>

<app-footer></app-footer>
