<div class="col-md-12 col-md-8 col-lg-8 col-xl-8">
  <h2 class="text-center">Listado de clientes</h2>
  <div class="table-responsive">
    <table class="table table-light table-striped">
      <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Apellido</th>
        <th class="text-center">Calle</th>
        <th class="text-center">Ciudad</th>
        <th class="text-center">Código postal</th>
        <th class="text-center">Teléfono</th>
        <th class="text-center">Salario</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td class="text-center">{{ client.nombre }}</td>
        <td class="text-center">{{ client.apellido }}</td>
        <td class="text-center">{{ client.calle }}</td>
        <td class="text-center">{{ client.ciudad }}</td>
        <td class="text-center">{{ client.codigoPostal }}</td>
        <td class="text-center">{{ client.telefono }}</td>
        <td class="text-center">{{ client.salario | currency }}</td>
        <td class="centrado">
          <a href="#" class="text-primary me-2"><i class="fas fa-eye"></i></a>
          <a href="#" class="text-warning me-2"><i class="fas fa-edit"></i></a>
          <a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
