<div class="container p-4 my-3">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2 class="text-center">Listado de Clientes</h2>
      <table class="table table-light table-striped">
        <thead>
        <tr>
          <th class="centrado">Nombre</th>
          <th class="centrado">Apellido paterno</th>
          <th class="centrado">Apellido materno</th>
          <th class="centrado">Teléfono</th>
          <th class="centrado">Correo electrónico</th>
          <th class="centrado">Usuario</th>
          <th class="centrado">Fecha de nacimiento</th>
          <th class="centrado">Ciudad</th>
          <th class="centrado">Dirección</th>
          <th class="centrado">Código postal</th>
          <th class="centrado">Metodo de pago</th>

          <th class="centrado">Funciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.first_surname }}</td>
          <td>{{ user.last_surname }}</td>
          <td>{{ user.phone_number }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td> {{user.date_of_birth}} </td>
          <td> {{user.city}} </td>
          <td> {{user.direction}} </td>
          <td> {{user.postal_code}} </td>
          <td> {{user.id_preferred_payment_method}} </td>

          <td>
            <button class="btn btn-warning" (click)="abrirModal(user)">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
            <button class="btn btn-danger" (click)="abrirModalEliminar(user.id)">
              <i class="bi bi-trash"></i> Eliminar
            </button>

          </td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
